/* This is the class for the five day forecast cards that appear in the Open Weather API function. */
.forecastCard {
        min-width: 150px;
        width: 10vw;
        height: 200px;
        background-color: aqua;
        color: black;
        padding: 10px;
}

#mapid {
        height: 360px;
        width: 500px;
}