/* This is the class for the five day forecast cards that appear in the Open Weather API function. */
.forecastCard {
        min-width: 150px;
        width: 30px;
        color: black;
        background-color: white;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: fit-content;
}

#mapid {
        height: 400px;
        width: auto;
}

#forecastHeader{
        margin-top: 20px;
}

#forecastOne {
        display: flex;
        justify-content: space-evenly;
}
#forecastTwo {
        display: flex;
        justify-content: space-evenly;
}


#mapid {
        height: 400px;
        width: auto;
}

#mapid2 {
        height: 400px;
        width: auto;
}

#forecastHeader{
        margin-top: 20px;
}

#errorModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 40%;
        top: 20%;
        width: 20%; /* Full width */
        height: 10%; /* Full height */
        background-color: red;
        border: black;
        border-style: solid;
        border-width: 3px;
}

.modal-content {
        background-color: transparent;
        color: white;
        margin: auto; /* 15% from the top and centered */
        padding: 5px;
        width: 80%; /* Could be more or less, depending on screen size */
      }
      
/* The Close Button */
.close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
}
      
.close:hover,
.close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}

@media screen and (max-width: 500px){
        #forecastOne {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 200px;
                text-align: center;
        }
        #forecastTwo {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 200px;
                text-align: center;
        }
}